{% assign screenreaders = stat.results %}

{% if screenreaders %}

{% assign browsers = "" | split: "," %}
{% assign outputs = "" | split: "," %}
{% assign valids = "" | split: "," %}
{% assign skips = "" | split: "," %}

{% for screenreader in screenreaders %}
	{% for readerVersion in screenreader[1] %}
		{% if forloop.last %}
			{% for browser in readerVersion[1] %}
				{% assign browsers = browsers | push: browser %}
				{% for browserVersion in browser[1] %}
					{% if forloop.last %}
						{% if browserVersion[1].output %}
							{% assign outputs = outputs | push: browserVersion[1].output %}
						{% else %}
							{% assign outputs = outputs | push: "" %}
						{% endif %}

						{% if browserVersion[1].skipped %}
							{% assign skips = skips | push: browserVersion[1].skipped %}
						{% else %}
							{% assign skips = skips | push: false %}
						{% endif %}

						{% if browserVersion[1].valid %}
							{% assign valids = valids | push: browserVersion[1].valid %}
						{% else %}
							{% assign valids = valids | push: "fail" %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endfor %}

<table>
	<colgroup>
		<col />
		{% for valid in valids %}<col style="background-image:linear-gradient({% if valid == true %}rgba(0,200,0,.5), rgba(0,200,0,.5){% else %}rgba(200,0,0,.5), rgba(200,0,0,.5){% endif %})" />{% endfor %}
	</colgroup>
	<thead>
		<tr>
			<th>Screen reader</th>
			{% for screenreader in screenreaders %}

				{% for version in screenreader[1] %}
					{% if forloop.last %}
						<th colspan="{{version[1] | size}}">
							{{ screenreader[0] }} {{ version[0] }}
						</th>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</tr>
		<tr>
			<th>Browser</th>
			{% for browser in browsers %}
				<th>
					{{ browser[0] }}
					{% for version in browser[1] %}
						{% if forloop.last %}
							{{ version[0] }}
						{% endif %}
					{% endfor %}
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Spoken output</th>
			{% for output in outputs %}<td>{{output}}</td>{% endfor %}
		</tr>
		<tr>
			<th>Skipped</th>
			{% for skip in skips %}<td>{{skip}}</td>{% endfor %}
		</tr>
	</tbody>
</table>

{% if stat.remarks %}
{% include note.html content=stat.remarks %}
{% endif %}

<hr/>
{% endif %}
