{% assign screenReaders = stat.results %}

{% if screenReaders %}

{% assign browsers = "" | split: "," %}
{% assign spokenOutputs = "" | split: "," %}
{% assign titles = "" | split: "," %}
{% assign types = "" | split: "," %}
{% assign APIs = "" | split: "," %}
{% assign valids = "" | split: "," %}


{% for screenReader in screenReaders %}
	{% for browser in screenReader[1].browsers %}
		{% assign browsers = browsers | push: browser %}

		{% if browser[1][0].spokenOutput %}
			{% assign spokenOutputs = spokenOutputs | push: browser[1][0].spokenOutput %}
		{% else %}
			{% assign spokenOutputs = spokenOutputs | push: "" %}
		{% endif %}

		{% if browser[1][0].title %}
			{% assign titles = titles | push: browser[1][0].title %}
		{% else %}
			{% assign titles = titles | push: "" %}
		{% endif %}

		{% if browser[1][0].type %}
			{% assign types = types | push: browser[1][0].type %}
		{% else %}
			{% assign types = types | push: "" %}
		{% endif %}

		{% if browser[1][0].API %}
			{% assign APIs = APIs | push: browser[1][0].API %}
		{% else %}
			{% assign APIs = APIs | push: "" %}
		{% endif %}

		{% if browser[1][0].valid %}
			{% assign valids = valids | push: browser[1][0].valid %}
		{% else %}
			{% assign valids = valids | push: "fail" %}
		{% endif %}
	{% endfor %}
{% endfor %}

<table>
	<colgroup>
		<col />
		{% for valid in valids %}<col style="background-image:linear-gradient({% if valid == true %}rgba(0,200,0,.5), rgba(0,200,0,.5){% else %}rgba(200,0,0,.5), rgba(200,0,0,.5){% endif %})" />{% endfor %}
	</colgroup>
	<thead>
		<tr>
			<th>Screen reader</th>
			{% for screenReader in screenReaders %}
			<th colspan="{{ screenReader[1].browsers | size }}">
				{{ screenReader[0] }} {{ screenReader[1].version }}
			</th>
			{% endfor %}
		</tr>
		<tr>
			<th>Browser</th>
			{% for browser in browsers %}
			<th>{{ browser[0] }} {{ browser[1][0].version }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Spoken output</th>
			{% for spokenOutput in spokenOutputs %}<td>{{ spokenOutput }}</td>{% endfor %}
		</tr>
		<tr>
			<th>Valid output</th>
			{% for valid in valids %}<td>{% if valid == true %}&check;{% else %}&cross;{% endif %}</td>{% endfor %}
		</tr>
		<tr>
			<th>Title</th>
			{% for title in titles %}<td>{{ title }}</td>{% endfor %}
		</tr>
		<tr>
			<th>Type</th>
			{% for type in types %}<td>{{ type }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>API</th>
			{% for API in APIs %}<td>{{ API }}</td>{% endfor %}
		</tr>
	</tbody>
</table>

{% if stat.remarks %}
{% include note.html content=stat.remarks %}
{% endif %}

<hr/>
{% endif %}
